@import '~@fortawesome/fontawesome-free/css/all.css';

$responsive-breakpoint: (max-width: 1160px);

%container {
  width: auto;
  max-width: 1150px;
  margin: 0 auto;
}

.app {
  color: rgb(51, 51, 51);
  font-family: Arial;

  header {
    box-shadow: 0 2px 8px 2px rgba(0,0,0,0.2);

    .container {
      @extend %container;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 111px;
      color: #959595;
      font-size: 20px;

      @media screen and ($responsive-breakpoint) {
        height: 70px;
        box-shadow: unset;
        padding: 0 10px;
      }

      .logo {
        flex-basis: 45%;

        img {
          max-height: calc(45vw / 5);

          @media screen and ($responsive-breakpoint) {
            max-height: 42px;
          }
        }
      }

      p {
        @media screen and ($responsive-breakpoint) {
          display: none;
        }
      }

      button {
        height: auto;
        line-height: 22px;
        background: #143c60;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 25px;
        font-weight: bold;
        margin-left: 25px;

        &::before {
          content: 'LOG IN';
        }

        @media screen and ($responsive-breakpoint) {
          &::before {
            font-family: 'Font Awesome 5 Free';
            content: '\f0c9';
            font-weight: 900;
          }
        }
      }
    }
  }

  .content-body {
    @extend %container;
    margin: 34px auto;

    @media screen and ($responsive-breakpoint) {
      max-width: 80%;
    }

    textarea {
      font-family: serif;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 10px;
      width: 100%;
      resize: none;
      border: none;
      outline: none;

      &.title {
        padding: none;
        font-size: 30px;
        font-weight: normal;
        line-height: 45px;
      }

      .meta {
        font-weight: bold;
      }
    }
  }

  .popover {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 100px;
    max-width: 300px;
    background: #333;
    padding: 5px 15px;
    color: #DDD;
  }
}