%container {
  width: auto;
  max-width: 1150px;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 8px 2px rgba(0,0,0,0.2);

  .container {
    @extend %container;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 111px;
    color: #959595;
    font-size: 20px;
    font-family: arial;

    @media screen and (max-width: 1160px) {
      height: 70px;
      box-shadow: unset;
      padding: 0 10px;
    }

    .logo {
      flex-basis: 45%;

      img {
        max-height: calc(45vw / 5);

        @media screen and (max-width: 1160px) {
          max-height: 42px;
        }
      }
    }

    button {
      height: auto;
      line-height: 22px;
      background: #143c60;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      padding: 10px 25px;
      font-weight: bold;
      margin-left: 25px;
    }
  }
}

